<!DOCTYPE html>
<html>
    <head>
        <title>Student</title>
    </head>
    <script src="angular.js"></script>
    <body>
        <div ng-app="detail">
            <section ng-controller='studentController'>
                <button ng-click="ShowOneStudent();">Load</button>
                <button ng-click="ShowAllStudent();">Load_All</button>
                <div ng-show="IsVisible">
                    <h1>{{student.rollNo+" "+student.name+" "+student.cgpi}}</h1>
                    <img ng-src={{student.profilePic}}>
                </div>
                <div ng-show="IsAllVisible" ng-repeat="student in allStudents" >
                    <h1 ng-style="changeColor(student.cgpi)">{{student.rollNo+" "+student.name+" "+student.cgpi}}</h1>
                    <img ng-src={{student.profilePic}}>
                </div>
            </section>
            </div>
            <script>
                var student=angular.module('detail',[]);
                student.controller('studentController', function($scope) {
                    $scope.IsVisible=false
                    $scope.IsAllVisible=false
                    $scope.student={
                        profilePic: 'images//student.PNG',
                        name: 'Floyd',
                        rollNo: '30',
                        cgpi: '6.75',
                    }

                    $scope.allStudents=[
                        {
                        profilePic: 'images//student.PNG',
                        name: 'Ravi',
                        rollNo: '36',
                        cgpi: '5.8',
                        },
                        {
                        profilePic: 'images//student.PNG',
                        name: 'Sunny',
                        rollNo: '35',
                        cgpi: '6.5',
                        },
                        {
                        profilePic: 'images//student.PNG',
                        name: 'Akash',
                        rollNo: '40',
                        cgpi: '8.2',
                        }
                    ]

                    $scope.ShowOneStudent=function(){
                        $scope.IsVisible=true
                    }
                    $scope.ShowAllStudent=function(){
                        $scope.IsAllVisible=true
                    }
                    $scope.changeColor=function(studentCgpi){
                        if(studentCgpi<6){
                            $scope.color={
                            "background-color":"red"
                            }
                        }
                    }
                })
            </script>  
    </body>
</html>