<!DOCTYPE html>
<html>
    <head>
        <title>whitebtn</title>

    </head>
    <script src="angular.js"></script>

    <style>
    
    .btn { 
  background-color: lightblue; 
  border: none; 
  cursor: pointer; 
  display: inline-block; 
  margin-right: 10px; 
}
.btn.active { background-color: white; }</style>
    <body>

        <div ng-app="rulesApp">
            <div ng-controller="WhiteButtonCtrl">
              <button ng-repeat="button in buttons" ng-class="{ 'active' : activeBtn === button.id }"
                      ng-click="activate( button.id )" type="button" class="btn" id="{{button.id}}">
                {{button.value}}
              </button>
            </div>
          </div>

          <script>
          var app = angular.module('rulesApp',[]);
          app.controller('WhiteButtonCtrl', function( $scope ){
	$scope.buttons = [
  	{ id: 'btn1', value: 'Details1' },
    { id: 'btn2', value: 'Details2' },
    { id: 'btn3', value: 'Details3' },
    { id: 'btn4', value: 'Details4' }
  ]
  $scope.activeBtn = undefined;
  
  $scope.activate = function( str ){
  	$scope.activeBtn = str;
  }
})
</script>

    </body>
</html>